.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.information input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}
button {
  width: 315px;
  height: 50px;
  margin-top: 15px;
  background-color: rgb(16, 57, 60);
  color: white;
  border-radius: 0.5rem;
  border: none;
}
button.showAll {
  background-color: rgb(166, 75, 1);
}
button:hover {
  cursor: pointer;
}
.cats {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.cat {
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
}
.cat h3 {
  margin: 20px;
}
